<div class="navbar">
<nav>
<ul>
    <li><a href="/">Home</a></li>
    {% for item in dishes.items %}
    <li>    
        <a href="/dishes/{{ item.title | slug }}">
            {{ item.title }}
        </a>
    </li>
    {% endfor %}
</ul>
</nav>
</div>
