.navbar{
    
    
    nav{
        height: 3rem;
        background-color: aliceblue;
        ul{
            align-items: center;
            display: flex;
            list-style: none;
            justify-content: space-between;
            height: 100%;
            a{
                text-decoration: none;
            }
        }
    
    
    }
    
    
    }