
.navbar{

    nav{
        height: 3rem;
        background-color: rgb(38, 54, 54);
        padding-left: 5rem;
        padding-right: 5rem;
        ul{
            align-items: center;
            display: flex;
            list-style: none;
            justify-content: space-between;
            height: 100%;
            a{
                text-decoration: none;
                color: rgb(185, 185, 185);
                font-weight: 300;
                font-size: 18px;
            }
        }
    }
    }