---
layout: base.njk
pagination: 
    data: dishes.items
    size: 1 
    alias: data
permalink: "dishes/{{ data.title | slug }}/index.html"
---
    <header>
        <h1>{{ data.title }}</h1>
    </header>
    <section>
        <p>{{data.descr}}</p>
    </section>

    <div class="card">
    <ul>
        {%for item in data.ing %}
            <li> {{ item.title }} </li>
        {%endfor%}
    </ul>
    </div>