
$font-family: 'Open Sans', sans-serif;
*{
    padding: 0;
    margin: 0;
    font-family: $font-family;
}




@import "components/container.scss";
@import "components/navbar.scss";
@import "components/footer.scss";
@import "components/card.scss";
